mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/pubspec.lock
mobile-backup-*/
mobile-prototype-backup-*/
backend/vendor/
backend/.env
